body{
    background-color:green;
    display: flex;
}

.container {
    flex-direction: column;
    justify-content: space-between;
    display: flex;
    margin: 0 auto;
}

.container>.player-cards,.rival-cards,.deck {
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    position: relative;
}

.card {
    width: 10%;
    height: 30%;
    transition: all .3s ease-in-out;  
}

.player-cards>.card:hover{
    transform: translateY(-50px);
    
}


.red{
    background-color: red;
}
.blue{
    background-color: blue;
}
.yellow{
    background-color: yellow;
}
.green{
    background-color: green;
}

#colorWindow{
    position: absolute;
    width: 160px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

button{
    width: 60px;
    height: 60px;
}